<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Livraria Reepson</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="support/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="support/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="support/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="support/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="support/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="support/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="support/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="support/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="#"><img src="img/logo.png" alt=""></a>
        </div>
    </div>
    <!-- Humberger End -->

    <!-- Header Section Begin -->
   <header class="header">  
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <nav class="header__menu">
                    <ul>
                        <li><a href="./shop-grid.html">Home</a></li>
                        <li class="active"><a href="./shop-grid.html">Livros</a></li>
                        <li><a href="./contact.html">Contactos</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="header__cart">
                    <ul>
                        <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                        <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
    </div>
</header>
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    <section class="hero hero-normal">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>Categoria</span>
                        </div>
                        <ul>
                            <li><a href="#">Arte</a></li>
                            <li><a href="#">Banda Desenhada</a></li>
                            <li><a href="#">Ciências</a></li>
                            <li><a href="#">Ciências Económicas</a></li>
                            <li><a href="#">Ciências Sociais e Humanas</a></li>
                            <li><a href="#">Direiro</a></li>
                            <li><a href="#">Literatura</a></li>
                            <li><a href="#">Gastronomia e Vinhos</a></li>
                            <li><a href="#">Desporto e Lazer</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form action="#">
                                <input type="text" placeholder="O que está procurando?">
                                <button type="submit" class="site-btn">Pesquisar</button>
                            </form>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="header__top__right">
                                        <div class="header__top__right__auth">
                                            <a href="#"><i class="fa fa-user"></i> Login</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="support/img/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>CARRINHO DE COMPRAS</h2>
                        <div class="breadcrumb__option">
                            <a href="views/livros.html">Livros</a>
                            <span>Escolha mais livros e se inspire.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shoping Cart Section Begin -->
    <section class="shoping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th class="shoping__product">Produtos</th>
                                    <th>Preço</th>
                                    <th>Quantidade</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="shoping__cart__item">
                                        <img src="https://img.wook.pt/images/alicia-en-el-pais-de-las-maravillas-lewis-carroll/MXwyOTQ0NDA0MXwyNTg1MTEzN3wxNjk4NzgwOTkwMDAwfHdlYnA=/100x" alt="">
                                        <h5>Alicia En El País De Las Maravillas</h5>
                                    </td>
                                    <td class="shoping__cart__price">
                                        Kz6,000
                                    </td>
                                    <td class="shoping__cart__quantity">
                                        <div class="quantity">
                                            <div class="pro-qty">
                                                <input type="text" value="1">
                                            </div>
                                        </div>
                                    </td>
                                    <td class="shoping__cart__total">
                                        Kz6,000
                                    </td>
                                    <td class="shoping__cart__item__close">
                                        <span class="icon_close"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="shoping__cart__item">
                                        <img src="https://img.wook.pt/images/alicia-en-el-pais-de-las-maravillas-lewis-carroll/MXwyOTM0NzY5N3wyNTc0MzQyMXwxNzE0ODcyMTc2MDAwfHdlYnA=/100x" alt="">
                                        <h5>Alicia En El Pais De Las Maravillas</h5>
                                    </td>
                                    <td class="shoping__cart__price">
                                        Kz17,000
                                    </td>
                                    <td class="shoping__cart__quantity">
                                        <div class="quantity">
                                            <div class="pro-qty">
                                                <input type="text" value="1">
                                            </div>
                                        </div>
                                    </td>
                                    <td class="shoping__cart__total">
                                        Kz17,000
                                    </td>
                                    <td class="shoping__cart__item__close">
                                        <span class="icon_close"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="shoping__cart__item">
                                        <img src="https://img.wook.pt/images/wild-love-elsie-silver/MXwyOTUyMzMwN3wyNTkzOTgwMnwxNzE1MTQyODUwMDAwfHdlYnA=/100" alt="">
                                        <h5>Wild Love</h5>
                                    </td>
                                    <td class="shoping__cart__price">
                                        Kz13,000
                                    </td>
                                    <td class="shoping__cart__quantity">
                                        <div class="quantity">
                                            <div class="pro-qty">
                                                <input type="text" value="1">
                                            </div>
                                        </div>
                                    </td>
                                    <td class="shoping__cart__total">
                                        Kz13,000
                                    </td>
                                    <td class="shoping__cart__item__close">
                                        <span class="icon_close"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__btns">
                        <a href="#" class="primary-btn cart-btn">CONTINUAR A COMPRAR</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="shoping__checkout">
                        <h5>Total Do Carrinho</h5>
                        <ul>
                            <li>Subtotal <span>Kz0</span></li>
                            <li>Total <span>Kz36,000</span></li>
                        </ul>
                        <a href="#" class="primary-btn">CHECKOUT</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shoping Cart Section End -->

     <!-- Footer Section Begin -->
     <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <ul>
                            <li>Endereço: Luanda, Angola</li>
                            <li>Telefone: +244 924081716</li>
                            <li>Email: reepson@livrariareepson.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-8 col-md-12">
                    <div class="row">
                        <div class="col-md-4 mb-5">
                            <h5 class="font-weight-bold text-dark mb-4">LINKS ÚTEIS</h5>
                            <div class="d-flex flex-column justify-content-start">
                                <a class="text-dark mb-2" href="index.html"><i class="fa mr-2"></i>Apoio ao Cliente</a>
                                <a class="text-dark mb-2" href="shop.html"><i class="fa mr-2"></i>Termos de utilização</a>
                                <a class="text-dark mb-2" href="detail.html"><i class="fa mr-2"></i>Política de privacidade</a>
                                <a class="text-dark mb-2" href="cart.html"><i class="fa mr-2"></i>Livro de Reclamações</a>
                                <a class="text-dark mb-2" href="cart.html"><i class="fa mr-2"></i>Livro de Elógios</a>
                            </div>
                        </div>
                        <div class="col-md-4 mb-5">
                            <h5 class="font-weight-bold text-dark mb-4">REEPSON.NET</h5>
                            <div class="d-flex flex-column justify-content-start">
                                <a class="text-dark mb-2" href="index.html"><i class="fa mr-2"></i>Quem Somos</a>
                                <a class="text-dark mb-2" href="shop.html"><i class="fa mr-2"></i>As nossas livrarias</a>
                                <a class="text-dark mb-2" href="detail.html"><i class="fa mr-2"></i>Cartão Reepson</a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <div class="footer__widget">
                                <h6>NEWSLETTER</h6>
                                <p>Deseja receber e-mail da Reepson?</p>
                                <form action="#">
                                    <input type="text" placeholder=" Insira o seu email ">
                                    <button type="submit" class="site-btn">Subscrever</button>
                                </form>
                                <div class="footer__widget__social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="support/js/jquery-3.3.1.min.js"></script>
    <script src="support/js/bootstrap.min.js"></script>
    <script src="support/js/jquery.nice-select.min.js"></script>
    <script src="support/js/jquery-ui.min.js"></script>
    <script src="support/js/jquery.slicknav.js"></script>
    <script src="support/js/mixitup.min.js"></script>
    <script src="support/js/owl.carousel.min.js"></script>
    <script src="support/js/main.js"></script>


</body>

</html>