<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Livraria Reepson</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="support/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="support/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="support/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="support/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="support/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="support/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="support/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="support/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="#"><img src="img/logo.png" alt=""></a>
        </div>
    </div>
    <!-- Humberger End -->

    <!-- Header Section Begin -->
   <header class="header">  
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <nav class="header__menu">
                    <ul>
                        <li><a href="./shop-grid.html">Home</a></li>
                        <li class="active"><a href="./shop-grid.html">Livros</a></li>
                        <li><a href="./contact.html">Editoras</a></li>
                        <li><a href="./shop-grid.html">Escritores</a></li>
                        <li><a href="./contact.html">Contactos</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="header__cart">
                    <ul>
                        <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                        <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
    </div>
</header>
<!-- Header Section End -->

    <!-- Hero Section Begin -->
    <section class="hero hero-normal">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>Categoria</span>
                        </div>
                        <ul>
                            <li><a href="#">Arte</a></li>
                            <li><a href="#">Banda Desenhada</a></li>
                            <li><a href="#">Ciências</a></li>
                            <li><a href="#">Ciências Económicas</a></li>
                            <li><a href="#">Ciências Sociais e Humanas</a></li>
                            <li><a href="#">Direiro</a></li>
                            <li><a href="#">Literatura</a></li>
                            <li><a href="#">Gastronomia e Vinhos</a></li>
                            <li><a href="#">Desporto e Lazer</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form action="#">
                                <input type="text" placeholder="O que está procurando?">
                                <button type="submit" class="site-btn">Pesquisar</button>
                            </form>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="header__top__right">
                                        <div class="header__top__right__auth">
                                            <a href="#"><i class="fa fa-user"></i> Login</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="https://www.bertrand.pt/img/bn_30sunsetsparateapaixonares.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Um livro é um sonho que você segura com as mãos.</h2>
                        <div class="breadcrumb__option">
                            <span>Neil Gaiman</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__pic">
                        <div class="product__details__pic__item">
                            <img class="product__details__pic__item--large"
                                src="https://www.livrarialello.pt/uploads/products/9789898939395%20(1).jpg" alt="">
                        </div>
                        <div class="product__details__pic__slider owl-carousel">
                            <img data-imgbigurl="https://www.livrarialello.pt/uploads/products/9789898939395%20(2).jpg"
                                src="https://www.livrarialello.pt/uploads/products/9789898939395%20(3).jpg" alt="">
                            <img data-imgbigurl="https://www.livrarialello.pt/uploads/products/9789898939395%20(4).jpg"
                                src="https://www.livrarialello.pt/uploads/products/9789898939395%20(5).jpg" alt="">
                            <img data-imgbigurl="https://www.livrarialello.pt/uploads/products/9789898939395%20(4).jpg"
                                src="https://www.livrarialello.pt/uploads/products/9789898939395%20(1).jpg" alt="">
                            <img data-imgbigurl="https://www.livrarialello.pt/uploads/products/9789898939395%20(2).jpg"
                                src="https://www.livrarialello.pt/uploads/products/9789898939395%20(3).jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__text">
                        <h3>Alicia en el País de las Maravilhas</h3>
                        <div class="product__details__rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <span>(18 reviews)</span>
                        </div>
                        <div class="product__details__price">Kz16,000</div>
                        <p>Dizem que Alice viveu aventuras imaginárias e imaginadas, vindas da desordem do absurdo. Deixem dizer. 
                            Quem lê estas aventuras sabe bem como Alice viveu várias vidas que são também as nossas. 
                            Que o absurdo que a confronta também nos surpreende ao longo das nossas vidas, das nossas pessoalíssimas aventuras. 
                            Este livro é nada menos do que a toca de coelho que nos leva, pela mão de Alice, rumo a inesquecíveis maravilhas.</p>
                        <div class="product__details__quantity">
                            <div class="quantity">
                                <div class="pro-qty">
                                    <input type="text" value="1">
                                </div>
                            </div>
                        </div>
                        <a href="#" class="primary-btn">ADICIONAR AO CARRINHO</a>
                        <a href="#" class="heart-icon"><span class="icon_heart_alt"></span></a>
                        <ul>
                            <li><b>Ano de edição:</b> <span>10-2016</span></li>
                            <li><b>Editor:</b> <span> Planeta Junior Colombia</span></li>
                            <li><b>Idioma:</b> <span>Espanhol</span></li>
                            <li><b>Coleção:</b> <span>The Little Collection</span></li>
                            <li><b>Páginas:</b> <span>25</span></li>
                            <li><b>Partilhar</b>
                                <div class="share">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="product__details__tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                                    aria-selected="true">SINOPSE</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab"
                                    aria-selected="false">SOBRE O AUTOR</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                <div class="product__details__tab__desc">
                                    <h6>Informaçōes sobre o livro</h6>
                                    <p>Este ebook presenta "Alicia en el País de las Maravillas", con un índice dinámico y detallado. 
                                        Es una obra de literatura creada por Charles Dodgson y de la primera edición de 1865. 
                                        El libro trata de una niña que tiene una imaginación muy viva porque le pasan cosas muy extrañas y después de todo, resulta 
                                        que todo ha sido un sueño. En esta obra aparecen algunos de los personajes más famosos de Carroll, como el Conejo 
                                        Blanco, El Sombrerero, la Oruga azul, el Gato de Cheshire o la Reina de Corazones; quienes han cobrado importancia 
                                        suficiente para ser reconocidos fuera del mundo de Alicia. Lewis Carroll es el seudónimo por el que es conocido en 
                                        la historia de la literatura. Charles Lutwidge Dodgson ( 1832 - 1898), diácono anglicano, lógico, matemático, fotógrafo 
                                        y escritor británico, conocido sobre todo por su obra Alicia en el país de las maravillas y su secuela, Alicia a través 
                                        del espejo.</p>
                                        
                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-2" role="tabpanel">
                                <div class="product__details__tab__desc">
                                    <h6>LEWIS CARROLL</h6>
                                    <p>Lewis Carroll (1832-1898), pseudónimo de Charles Lutwidge Dodgson, distinguiu-se como 
                                        escritor, matemático e fotógrafo. Autor de contos e poemas como Jabberwocky, obteve a 
                                        consagração com Alice no País das Maravilhas e Alice do Outro Lado do Espelho.
                                    <p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Details Section End -->

    <!-- Related Product Section Begin -->
    <section class="related-product">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title related__product__title">
                        <h2>PRODUTOS RELACIONADOS</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="https://img.bertrand.pt/images/alicia-en-el-pais-de-las-maravillas-lewis-carroll/NDV8Mjk0NzM1ODF8MjU4ODQxMzh8MTcxNTk0NTI2NzAwMHx3ZWJw/300x">
                            <ul class="product__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">ALICIA EN EL PAÍS DE LAS MARAVILLAS</a></h6>
                            <h5>Kz2,000</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="https://img.bertrand.pt/images/alicia-en-el-pais-de-las-maravillas-aa-vv/NDV8Mjk2MjE2NzV8MjYwNTE1NzF8MTcwNTcxMjAzODAwMHx3ZWJw/300x">
                            <ul class="product__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">ALICIA EN EL PAÍS DE LAS MARAVILLAS</a></h6>
                            <h5>Kz16,000</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="https://img.bertrand.pt/images/mago-de-ozel-aavv/NDV8MjkxMTY3MjJ8MjU0OTY1MzN8MTY4ODQ2NDM5NjAwMHx3ZWJw/300x">
                            <ul class="product__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">EL MAGO DE OZ</a></h6>
                            <h5>Kz15,100</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="https://img.bertrand.pt/images/alice-no-pais-das-maravilhas-lewis-carroll/NDV8MTYyNjk0NzB8MTE4NTE0ODN8MTUwMzQ3NjMzNDAwMHx3ZWJw/300x">
                            <ul class="product__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">Alice no País das Maravilhas</a></h6>
                            <h5>Kz10,000</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Related Product Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <ul>
                            <li>Endereço: Luanda, Angola</li>
                            <li>Telefone: +244 924081716</li>
                            <li>Email: reepson@livrariareepson.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-8 col-md-12">
                    <div class="row">
                        <div class="col-md-4 mb-5">
                            <h5 class="font-weight-bold text-dark mb-4">LINKS ÚTEIS</h5>
                            <div class="d-flex flex-column justify-content-start">
                                <a class="text-dark mb-2" href="index.html"><i class="fa mr-2"></i>Apoio ao Cliente</a>
                                <a class="text-dark mb-2" href="shop.html"><i class="fa mr-2"></i>Termos de utilização</a>
                                <a class="text-dark mb-2" href="detail.html"><i class="fa mr-2"></i>Política de privacidade</a>
                                <a class="text-dark mb-2" href="cart.html"><i class="fa mr-2"></i>Livro de Reclamações</a>
                                <a class="text-dark mb-2" href="cart.html"><i class="fa mr-2"></i>Livro de Elógios</a>
                            </div>
                        </div>
                        <div class="col-md-4 mb-5">
                            <h5 class="font-weight-bold text-dark mb-4">REEPSON.NET</h5>
                            <div class="d-flex flex-column justify-content-start">
                                <a class="text-dark mb-2" href="index.html"><i class="fa mr-2"></i>Quem Somos</a>
                                <a class="text-dark mb-2" href="shop.html"><i class="fa mr-2"></i>As nossas livrarias</a>
                                <a class="text-dark mb-2" href="detail.html"><i class="fa mr-2"></i>Cartão Reepson</a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <div class="footer__widget">
                                <h6>NEWSLETTER</h6>
                                <p>Deseja receber e-mail da Reepson?</p>
                                <form action="#">
                                    <input type="text" placeholder=" Insira o seu email ">
                                    <button type="submit" class="site-btn">Subscrever</button>
                                </form>
                                <div class="footer__widget__social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

   <!-- Js Plugins -->
    <script src="support/js/jquery-3.3.1.min.js"></script>
    <script src="support/js/bootstrap.min.js"></script>
    <script src="support/js/jquery.nice-select.min.js"></script>
    <script src="support/js/jquery-ui.min.js"></script>
    <script src="support/js/jquery.slicknav.js"></script>
    <script src="support/js/mixitup.min.js"></script>
    <script src="support/js/owl.carousel.min.js"></script>
    <script src="support/js/main.js"></script>


</body>

</html>