<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Livraria Reepson">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Livraria Reepson</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="support/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="support/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="support/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="support/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="support/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="support/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="support/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="support/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="#"><img src="img/logo.png" alt=""></a>
        </div>
    </div>
    <!-- Humberger End -->

    <!-- Header Section Begin -->
    <header class="header">
       
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="./index.html">Home</a></li>
                            <li><a href="./shop-grid.html">Livros</a></li>
                            <li><a href="./contact.html">Editoras</a></li>
                            <li><a href="./contact.html">Contactos</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                            <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>Categoria</span>
                        </div>
                        <ul>
                            <li><a href="#">Arte</a></li>
                            <li><a href="#">Banda Desenhada</a></li>
                            <li><a href="#">Ciências</a></li>
                            <li><a href="#">Ciências Económicas</a></li>
                            <li><a href="#">Ciências Sociais e Humanas</a></li>
                            <li><a href="#">Direiro</a></li>
                            <li><a href="#">Literatura</a></li>
                            <li><a href="#">Gastronomia e Vinhos</a></li>
                            <li><a href="#">Desporto e Lazer</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form action="#">
                                <input type="text" placeholder="O que está procurando?">
                                <button type="submit" class="site-btn">Pesquisar</button>
                            </form>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="header__top__right">
                                        <div class="header__top__right__auth">
                                            <a href="#"><i class="fa fa-user"></i> Login</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hero__item set-bg" data-setbg="https://www.bertrand.pt/img/bn_ae_4jun24_v2.jpg">
                        <div class="hero__text">
                            <span>4 junho</span>
                            <h2>50% TODOS OS LIVROS<br />Ebooks & Audiolivros</h2>
                            <p>20% NAS NOVIDADES</p>
                            <a href="#" class="primary-btn">COMPRE AGORA</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Categories Section Begin -->
    <section class="categories">
        <div class="container">
            <div class="row">
                <div class="categories__slider owl-carousel">
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="https://lojasaraivanew.vtexassets.com/arquivos/ids/172603-200-200?v=638023933445170000&width=200&height=200&aspect=true">
                            <h5><a href="#">Blade - Vol. 7</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="https://lojasaraivanew.vtexassets.com/arquivos/ids/378299-200-200?v=1781730593&width=200&height=200&aspect=true">
                            <h5><a href="#">Lore Olympus (vol.1) Histórias do Olimpo</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="https://lojasaraivanew.vtexassets.com/arquivos/ids/198503-200-200?v=638068205833700000&width=200&height=200&aspect=true">
                            <h5><a href="#">Mordida - Sucesso no TikTok</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="https://lojasaraivanew.vtexassets.com/arquivos/ids/170591-200-200?v=638023880401900000&width=200&height=200&aspect=true">
                            <h5><a href="#">Martin Mystère - volume 01 Intriga em Pequim</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="https://lojasaraivanew.vtexassets.com/arquivos/ids/169155-200-200?v=638023853735070000&width=200&height=200&aspect=true">
                            <h5><a href="#">Hokuto No Ken - Fist of the North Star - Vol. 2</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Categories Section End -->

    <!-- Featured Section Begin -->
    <section class="featured spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Livros Mais Visitados</h2>
                    </div>
                    <div class="featured__controls">
                        <ul>
                            <li class="active" data-filter="*">Todos</li>
                            <li data-filter=".oranges">Literatura</li>
                            <li data-filter=".fresh-meat">Arte</li>
                            <li data-filter=".vegetables">Banda Desenhada</li>
                            <li data-filter=".fastfood">Ciências</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row featured__filter">
                <div class="col-lg-3 col-md-4 col-sm-6 mix oranges">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="https://d3cr86nr52kve0.cloudfront.net/media/catalog/product/cache/bd307f8d82ae38e9b36ec3a58a2a6ec1/9/7/9789722082013_1715692339.jpg">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">O Arco-Íris</a></h6>
                            <h5>Kz15,000</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mix vegetables">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="https://d3cr86nr52kve0.cloudfront.net/media/catalog/product/cache/bd307f8d82ae38e9b36ec3a58a2a6ec1/9/7/9789895741649_1717466989.jpg">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">RAINBOW!: VOLUME 1/a></h6>
                            <h5>Kz16,900</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mix vegetables">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="https://d3cr86nr52kve0.cloudfront.net/media/catalog/product/cache/bd307f8d82ae38e9b36ec3a58a2a6ec1/9/7/9789896829490_1717466887.jpg">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">O Segredo da Salamandra</a></h6>
                            <h5>Kz16,950</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mix fastfood">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="https://d3cr86nr52kve0.cloudfront.net/media/catalog/product/cache/bd307f8d82ae38e9b36ec3a58a2a6ec1/9/7/9789893564905_1717034448.jpg">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">Prazer e Poder</a></h6>
                            <h5>Kz23,000</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mix fresh-meat">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="https://d3cr86nr52kve0.cloudfront.net/media/catalog/product/cache/bd307f8d82ae38e9b36ec3a58a2a6ec1/9/7/9789724427935_1706277690.jpg">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">Direito de Cidade - Da «cidade-mundo» à «cidade de 15 minutos»</a></h6>
                            <h5>Kz20,000</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mix oranges">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="https://d3cr86nr52kve0.cloudfront.net/media/catalog/product/cache/bd307f8d82ae38e9b36ec3a58a2a6ec1/9/7/9789899204171_1714442537.jpg">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">O Caderno Proibido</a></h6>
                            <h5>Kz31,000</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mix fresh-meat">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="https://d3cr86nr52kve0.cloudfront.net/media/catalog/product/cache/bd307f8d82ae38e9b36ec3a58a2a6ec1/9/7/9789724428345_1711595065.jpg">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">Semântica do Indizível</a></h6>
                            <h5>$Kz18,000</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mix fastfood">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="https://d3cr86nr52kve0.cloudfront.net/media/catalog/product/cache/bd307f8d82ae38e9b36ec3a58a2a6ec1/9/7/9789892359618_1717419799.jpg">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">De Que Somos Feitos?</a></h6>
                            <h5>Kz20,000</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Featured Section End -->

    <!-- Latest Product Section Begin -->
    <section class="latest-product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="latest-product__text">
                        <h4>PRÉ-LANÇAMENTOS</h4>
                        <div class="latest-product__slider owl-carousel">
                            <div class="latest-prdouct__slider__item">
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="https://img.bertrand.pt/images/coisa-que-nao-edifica-nem-destroi-ricardo-araujo-pereira/NDV8MzAwNDQ3Njd8MjY1MjM3OTN8MTcxNjgxODQwODAwMHx3ZWJw/175x&ctx=0" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Coisa que Não Edifica Nem Destrói</h6>
                                        <span>Kz16,000</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="https://img.bertrand.pt/images/vinganca-mortal-bruno-m-franco/NDV8MzAwNDkzNzF8MjY1Mjk2Nzd8MTcxNjk3Njc2NDAwMHx3ZWJw/300x" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Vingança Mortal</h6>
                                        <span>Kz18,900</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="https://img.bertrand.pt/images/bem-vindos-a-livraria-hyunam-dong-hwang-bo-reum/NDV8MzAwMTAxMTh8MjY0ODI4OTJ8MTcxNTc2NzAxOTAwMHx3ZWJw/300x" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Bem-Vindos à Livraria Hyunam-Dong</h6>
                                        <span>Kz16,900</span>
                                    </div>
                                </a>
                            </div>
                            <div class="latest-prdouct__slider__item">
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="https://img.bertrand.pt/images/admiravel-mundo-verde-filipa-fonseca-silva/NDV8MzAwNDkzNzB8MjY1Mjk2NzZ8MTcxNjk3Njc2MzAwMHx3ZWJw/300x" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Admirável Mundo Verde</h6>
                                        <span>Kz17,000</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="https://img.bertrand.pt/images/o-futuro-recordado-irene-vallejo/NDV8Mjk3MzQ4OTd8MjYxNjA3NDV8MTcxNTM1MzQ3MTAwMHx3ZWJw/300x" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>O Futuro Recordado</h6>
                                        <span>Kz20,000</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="https://img.bertrand.pt/images/a-criada-esta-a-ver-freida-mcfadden/NDV8Mjk5OTM5NjV8MjY0NjAzMDJ8MTcxNTMzNjUzNzAwMHx3ZWJw/300x" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>A Criada Está a Ver</h6>
                                        <span>Kz30,000</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="latest-product__text">
                        <h4>NOVIDADES</h4>
                        <div class="latest-product__slider owl-carousel">
                            <div class="latest-prdouct__slider__item">
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="https://img.bertrand.pt/images/faca-salman-rushdie/NDV8Mjk5NzMwMjl8MjY0MzczNTZ8MTcxNDY0MTA1NTAwMHx3ZWJw/300x" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Faca</h6>
                                        <span>Kz19,800</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="https://img.bertrand.pt/images/mais-sombrio-stephen-king/NDV8Mjk4MTg4NjF8MjYyMzY0MTN8MTcxNDM5NDUwNjAwMHx3ZWJw/300x" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Mais Sombrio</h6>
                                        <span>Kz23,000</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="https://img.bertrand.pt/images/na-travessa-rita-nascimento/NDV8Mjk0OTM3NDF8MjU5MDIyMDF8MTcxNDM3NzA1MjAwMHx3ZWJw/300x" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Na Travessa</h6>
                                        <span>Kz19,000</span>
                                    </div>
                                </a>
                            </div>
                            <div class="latest-prdouct__slider__item">
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="https://img.bertrand.pt/images/deriva-madalena-sa-fernandes/NDV8MzAwMTAwMjl8MjY0ODI0MTV8MTcxNTc2MTI4MTAwMHx3ZWJw/300x" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Deriva</h6>
                                        <span>Kz20,000</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="https://img.bertrand.pt/images/camoes-uma-antologia-frederico-lourenco/NDV8Mjk1Mjg5NzV8MjU5NDU0MTd8MTcxNDY1ODgyMjAwMHx3ZWJw/300x" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Camões - Uma Antologia</h6>
                                        <span>Kz25,000</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="https://img.bertrand.pt/images/manifesto-pelas-identidades-e-familias-joao-costa/NDV8Mjk5Mjk5MTJ8MjYzOTA3ODZ8MTcxNjE5NTgzNDAwMHx3ZWJw/300x" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Manifesto pelas Identidades e Famílias</h6>
                                        <span>Kz14,000</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="latest-product__text">
                        <h4>MAIS VENDIDOS</h4>
                        <div class="latest-product__slider owl-carousel">
                            <div class="latest-prdouct__slider__item">
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="https://img.bertrand.pt/images/a-grande-revelacao-julia-quinn/NDV8MTU0MjQzMTN8MTA5MTcwNjV8MTcxNTY3MDk4NTAwMHx3ZWJw/300x" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>A Grande Revelação</h6>
                                        <span>Kz30,000</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="https://img.bertrand.pt/images/cronica-de-paixoes-e-caprichos-julia-quinn/NDV8MTI2MjMxOTB8ODE5NTI4NXwxNjA2NzQ2NDcxMDAwfHdlYnA=/300x" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Crónica de Paixões e Caprichos</h6>
                                        <span>Kz30,000</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="https://img.bertrand.pt/images/leonor-teles-isabel-stilwell/NDV8Mjk5NzMyOTl8MjY0Mzc2NzV8MTcxNDY2MzAwMDAwMHx3ZWJw/300x" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Leonor Teles</h6>
                                        <span>Kz25,000</span>
                                    </div>
                                </a>
                            </div>
                            <div class="latest-prdouct__slider__item">
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="https://img.bertrand.pt/images/a-criada-esta-a-ver-freida-mcfadden/NDV8Mjk5OTM5NjV8MjY0NjAzMDJ8MTcxNTMzNjUzNzAwMHx3ZWJw/300x" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>A Criada Está a Ver</h6>
                                        <span>Kz20,000</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="https://img.bertrand.pt/images/elefante-na-sala-joana-marques/NDV8Mjk3MzUyOTh8MjYxNjA4MDJ8MTcxNTE1NjQ5NjAwMHx3ZWJw/300x" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Elefante na Sala</h6>
                                        <span>Kz18,000</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="https://img.bertrand.pt/images/energiza-te-alexandra-vasconcelos/NDV8Mjk5NzMyOTZ8MjY0Mzc2NzJ8MTcxNDY2Mjk5ODAwMHx3ZWJw/300x" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Energiza-te</h6>
                                        <span>Kz18,000</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Latest Product Section End -->


    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <ul>
                            <li>Endereço: Luanda, Angola</li>
                            <li>Telefone: +244 924081716</li>
                            <li>Email: reepson@livrariareepson.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-8 col-md-12">
                    <div class="row">
                        <div class="col-md-4 mb-5">
                            <h5 class="font-weight-bold text-dark mb-4">LINKS ÚTEIS</h5>
                            <div class="d-flex flex-column justify-content-start">
                                <a class="text-dark mb-2" href="index.html"><i class="fa mr-2"></i>Apoio ao Cliente</a>
                                <a class="text-dark mb-2" href="shop.html"><i class="fa mr-2"></i>Termos de utilização</a>
                                <a class="text-dark mb-2" href="detail.html"><i class="fa mr-2"></i>Política de privacidade</a>
                                <a class="text-dark mb-2" href="cart.html"><i class="fa mr-2"></i>Livro de Reclamações</a>
                                <a class="text-dark mb-2" href="cart.html"><i class="fa mr-2"></i>Livro de Elógios</a>
                            </div>
                        </div>
                        <div class="col-md-4 mb-5">
                            <h5 class="font-weight-bold text-dark mb-4">REEPSON.NET</h5>
                            <div class="d-flex flex-column justify-content-start">
                                <a class="text-dark mb-2" href="index.html"><i class="fa mr-2"></i>Quem Somos</a>
                                <a class="text-dark mb-2" href="shop.html"><i class="fa mr-2"></i>As nossas livrarias</a>
                                <a class="text-dark mb-2" href="detail.html"><i class="fa mr-2"></i>Cartão Reepson</a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <div class="footer__widget">
                                <h6>NEWSLETTER</h6>
                                <p>Deseja receber e-mail da Reepson?</p>
                                <form action="#">
                                    <input type="text" placeholder=" Insira o seu email ">
                                    <button type="submit" class="site-btn">Subscrever</button>
                                </form>
                                <div class="footer__widget__social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="support/js/jquery-3.3.1.min.js"></script>
    <script src="support/js/bootstrap.min.js"></script>
    <script src="support/js/jquery.nice-select.min.js"></script>
    <script src="support/js/jquery-ui.min.js"></script>
    <script src="support/js/jquery.slicknav.js"></script>
    <script src="support/js/mixitup.min.js"></script>
    <script src="support/js/owl.carousel.min.js"></script>
    <script src="support/js/main.js"></script>



</body>

</html>