<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Livraria Reepson">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Livraria Reepson</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="support/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="support/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="support/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="support/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="support/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="support/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="support/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="support/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

   <!-- Header Section Begin -->
   <header class="header">  
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li><a href="./shop-grid.html">Home</a></li>
                            <li class="active"><a href="./shop-grid.html">Livros</a></li>
                            <li><a href="./contact.html">Editoras</a></li>
                            <li><a href="./shop-grid.html">Escritores</a></li>
                            <li><a href="./contact.html">Contactos</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                            <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        
                <div class="humberger__open">
                    <i class="fa fa-bars"></i>
                </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    <section class="hero hero-normal">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>Categoria</span>
                        </div>
                        <ul>
                            <li><a href="#">Arte</a></li>
                            <li><a href="#">Banda Desenhada</a></li>
                            <li><a href="#">Ciências</a></li>
                            <li><a href="#">Ciências Económicas</a></li>
                            <li><a href="#">Ciências Sociais e Humanas</a></li>
                            <li><a href="#">Direiro</a></li>
                            <li><a href="#">Literatura</a></li>
                            <li><a href="#">Gastronomia e Vinhos</a></li>
                            <li><a href="#">Desporto e Lazer</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form action="#">
                                <input type="text" placeholder="O que está procurando?">
                                <button type="submit" class="site-btn">Pesquisar</button>
                            </form>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="header__top__right">
                                        <div class="header__top__right__auth">
                                            <a href="#"><i class="fa fa-user"></i> Login</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="https://www.bertrand.pt/img/bn_binding13.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Livros</h2>
                        <div class="breadcrumb__option">
                            <a href="./index.html">Home</a>
                            <span>Continue explorando</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

     <!-- Product Section Begin -->
     <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-5">
                    <div class="sidebar">
                        <div class="sidebar__item">
                            <h4>Categorias</h4>
                            <ul>
                                <li><a href="#">Arte</a></li>
                                <li><a href="#">Banda Desenhada</a></li>
                                <li><a href="#">Ciências</a></li>
                                <li><a href="#">Ciências Económicas</a></li>
                                <li><a href="#">Ciências Sociais e Humanas</a></li>
                                <li><a href="#">Direiro</a></li>
                                <li><a href="#">Literatura</a></li>
                                <li><a href="#">Gastronomia e Vinhos</a></li>
                                <li><a href="#">Desporto e Lazer</a></li>
                            </ul>
                        </div>
                        <div class="sidebar__item">
                            <h4>Price</h4>
                            <div class="price-range-wrap">
                                <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                                    data-min="10" data-max="540">
                                    <div class="ui-slider-range ui-corner-all ui-widget-header"></div>
                                    <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                    <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                </div>
                                <div class="range-slider">
                                    <div class="price-input">
                                        <input type="text" id="minamount">
                                        <input type="text" id="maxamount">
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="sidebar__item">
                            <div class="latest-product__text">
                                <h4>Mais Vendidos</h4>
                                <div class="latest-product__slider owl-carousel">
                                    <div class="latest-prdouct__slider__item">
                                        <a href="#" class="latest-product__item">
                                            <div class="latest-product__item__pic">
                                                <img src="https://img.bertrand.pt/images/a-grande-revelacao-julia-quinn/NDV8MTU0MjQzMTN8MTA5MTcwNjV8MTcxNTY3MDk4NTAwMHx3ZWJw/300x" alt="">
                                            </div>
                                            <div class="latest-product__item__text">
                                                <h6>A Grande Revelação</h6>
                                                <span>Kz30,000</span>
                                            </div>
                                        </a>
                                        <a href="#" class="latest-product__item">
                                            <div class="latest-product__item__pic">
                                                <img src="https://img.bertrand.pt/images/cronica-de-paixoes-e-caprichos-julia-quinn/NDV8MTI2MjMxOTB8ODE5NTI4NXwxNjA2NzQ2NDcxMDAwfHdlYnA=/300x" alt="">
                                            </div>
                                            <div class="latest-product__item__text">
                                                <h6>Crónica de Paixões e Caprichos</h6>
                                                <span>Kz30,000</span>
                                            </div>
                                        </a>
                                        <a href="#" class="latest-product__item">
                                            <div class="latest-product__item__pic">
                                                <img src="https://img.bertrand.pt/images/leonor-teles-isabel-stilwell/NDV8Mjk5NzMyOTl8MjY0Mzc2NzV8MTcxNDY2MzAwMDAwMHx3ZWJw/300x" alt="">
                                            </div>
                                            <div class="latest-product__item__text">
                                                <h6>Leonor Teles</h6>
                                                <span>Kz25,000</span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="latest-prdouct__slider__item">
                                        <a href="#" class="latest-product__item">
                                            <div class="latest-product__item__pic">
                                                <img src="https://img.bertrand.pt/images/a-criada-esta-a-ver-freida-mcfadden/NDV8Mjk5OTM5NjV8MjY0NjAzMDJ8MTcxNTMzNjUzNzAwMHx3ZWJw/300x" alt="">
                                            </div>
                                            <div class="latest-product__item__text">
                                                <h6>A Criada Está a Ver</h6>
                                                <span>Kz20,000</span>
                                            </div>
                                        </a>
                                        <a href="#" class="latest-product__item">
                                            <div class="latest-product__item__pic">
                                                <img src="https://img.bertrand.pt/images/elefante-na-sala-joana-marques/NDV8Mjk3MzUyOTh8MjYxNjA4MDJ8MTcxNTE1NjQ5NjAwMHx3ZWJw/300x" alt="">
                                            </div>
                                            <div class="latest-product__item__text">
                                                <h6>Elefante na Sala</h6>
                                                <span>Kz18,000</span>
                                            </div>
                                        </a>
                                        <a href="#" class="latest-product__item">
                                            <div class="latest-product__item__pic">
                                                <img src="https://img.bertrand.pt/images/energiza-te-alexandra-vasconcelos/NDV8Mjk5NzMyOTZ8MjY0Mzc2NzJ8MTcxNDY2Mjk5ODAwMHx3ZWJw/300x" alt="">
                                            </div>
                                            <div class="latest-product__item__text">
                                                <h6>Energiza-te</h6>
                                                <span>Kz18,000</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-7">
                    <div class="product__discount">
                        <div class="section-title product__discount__title">
                            <h2>Desconto</h2>
                        </div>
                        <div class="row">
                            <div class="product__discount__slider owl-carousel">
                                <div class="col-lg-4">
                                    <div class="product__discount__item">
                                        <div class="product__discount__item__pic set-bg"
                                            data-setbg="https://img.bertrand.pt/images/murdle-1-g-t-karber/NDV8MzAwMTAxMjB8MjY0ODI4OTR8MTcxNTc2NzAxOTAwMHx3ZWJw/300x">
                                            <div class="product__discount__percent">-10%</div>
                                            <ul class="product__item__pic__hover">
                                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="product__discount__item__text">
                                            <span>Desporto e Lazer</span>
                                            <h5><a href="#">Murdle #1</a></h5>
                                            <div class="product__item__price">Kz17,100 <span>Kz19,000</span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="product__discount__item">
                                        <div class="product__discount__item__pic set-bg"
                                            data-setbg="https://img.bertrand.pt/images/na-travessa-rita-nascimento/NDV8Mjk0OTM3NDF8MjU5MDIyMDF8MTcxNDM3NzA1MjAwMHx3ZWJw/300x">
                                            <div class="product__discount__percent">-10%</div>
                                            <ul class="product__item__pic__hover">
                                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="product__discount__item__text">
                                            <span>Gastronomia e Vinhos</span>
                                            <h5><a href="#">Na Travessa</a></h5>
                                            <div class="product__item__price">Kz17,100 <span>Kz19,000</span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="product__discount__item">
                                        <div class="product__discount__item__pic set-bg"
                                            data-setbg="https://img.bertrand.pt/images/deriva-madalena-sa-fernandes/NDV8MzAwMTAwMjl8MjY0ODI0MTV8MTcxNTc2MTI4MTAwMHx3ZWJw/300x">
                                            <div class="product__discount__percent">-10%</div>
                                            <ul class="product__item__pic__hover">
                                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="product__discount__item__text">
                                            <span>Literatura</span>
                                            <h5><a href="#">Deriva</a></h5>
                                            <div class="product__item__price">Kz14,355 <span>Kz15,950</span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="product__discount__item">
                                        <div class="product__discount__item__pic set-bg"
                                            data-setbg="https://img.bertrand.pt/images/um-animal-selvagem-joel-dicker/NDV8Mjk5Mjg2ODd8MjYzODg3NDB8MTcxMzM0MzI2MzAwMHx3ZWJw/300x">
                                            <div class="product__discount__percent">-10%</div>
                                            <ul class="product__item__pic__hover">
                                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="product__discount__item__text">
                                            <span>Literatura</span>
                                            <h5><a href="#">Um Animal Selvagem</a></h5>
                                            <div class="product__item__price">Kz20,660 <span>Kz22,950</span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="product__discount__item">
                                        <div class="product__discount__item__pic set-bg"
                                            data-setbg="https://img.bertrand.pt/images/camoes-uma-antologia-frederico-lourenco/NDV8Mjk1Mjg5NzV8MjU5NDU0MTd8MTcxNDY1ODgyMjAwMHx3ZWJw/300x">
                                            <div class="product__discount__percent">-10%</div>
                                            <ul class="product__item__pic__hover">
                                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="product__discount__item__text">
                                            <span>Literatura</span>
                                            <h5><a href="#">Camões - Uma Antologia</a></h5>
                                            <div class="product__item__price">Kz22,410 <span>Kz24,900</span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="product__discount__item">
                                        <div class="product__discount__item__pic set-bg"
                                            data-setbg="https://img.bertrand.pt/images/bem-vindos-a-livraria-hyunam-dong-hwang-bo-reum/NDV8MzAwMTAxMTh8MjY0ODI4OTJ8MTcxNTc2NzAxOTAwMHx3ZWJw/300x">
                                            <div class="product__discount__percent">-10%</div>
                                            <ul class="product__item__pic__hover">
                                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="product__discount__item__text">
                                            <span>Literatura</span>
                                            <h5><a href="#">Bem-Vindos à Livraria Hyunam-Dong</a></h5>
                                            <div class="product__item__price">Kz15,210 <span>Kz16,900</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="filter__item">
                        <div class="row">
                            <div class="col-lg-4 col-md-5">
                                <div class="filter__sort">
                                    <span>Sort By</span>
                                    <select>
                                        <option value="0">Default</option>
                                        <option value="0">Default</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="filter__found">
                                    <h6><span>16</span> Products found</h6>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-3">
                                <div class="filter__option">
                                    <span class="icon_grid-2x2"></span>
                                    <span class="icon_ul"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="https://d3cr86nr52kve0.cloudfront.net/media/catalog/product/cache/089bd91b8a9d7e487f7cfc7ec1a0e2d3/9/7/9789899204225_1716901231.jpg">
                                    <ul class="product__item__pic__hover">
                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="#">Milhares de Palavras</a></h6>
                                    <h5>Kz17,900</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="https://d3cr86nr52kve0.cloudfront.net/media/catalog/product/cache/bd307f8d82ae38e9b36ec3a58a2a6ec1/9/7/9789896948177_1716555666.jpg">
                                    <ul class="product__item__pic__hover">
                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="#">Ao Coração da Liderança</a></h6>
                                    <h5>Kz19,900</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="https://d3cr86nr52kve0.cloudfront.net/media/catalog/product/cache/bd307f8d82ae38e9b36ec3a58a2a6ec1/9/7/9789724428116_capa.png">
                                    <ul class="product__item__pic__hover">
                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="#">K.</a></h6>
                                    <h5>Kz20,900</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="https://d3cr86nr52kve0.cloudfront.net/media/catalog/product/cache/bd307f8d82ae38e9b36ec3a58a2a6ec1/9/7/9789892361673_1717419651.jpg">
                                    <ul class="product__item__pic__hover">
                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="#">A Teoria do K.O. - Bem-vindo a Bajara</a></h6>
                                    <h5>Kz10,900</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="https://d3cr86nr52kve0.cloudfront.net/media/catalog/product/cache/bd307f8d82ae38e9b36ec3a58a2a6ec1/9/7/9789899204157_1714442517.jpg">
                                    <ul class="product__item__pic__hover">
                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="#">Memórias de um Felino</a></h6>
                                    <h5>Kz13,900</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="https://d3cr86nr52kve0.cloudfront.net/media/catalog/product/cache/bd307f8d82ae38e9b36ec3a58a2a6ec1/9/7/9789896948115_1714442513.jpg">
                                    <ul class="product__item__pic__hover">
                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="#">Economia da Longevidade</a></h6>
                                    <h5>Kz18,900</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="https://d3cr86nr52kve0.cloudfront.net/media/catalog/product/cache/bd307f8d82ae38e9b36ec3a58a2a6ec1/9/7/9789899159488_1714442487.jpg">
                                    <ul class="product__item__pic__hover">
                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="#">A Mão que Escrevia</a></h6>
                                    <h5>Kz22,900</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="https://d3cr86nr52kve0.cloudfront.net/media/catalog/product/cache/bd307f8d82ae38e9b36ec3a58a2a6ec1/9/7/9780872826649_1714183223.jpg">
                                    <ul class="product__item__pic__hover">
                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="#">Questões Laborais N.º 64</a></h6>
                                    <h5>Kz15,000</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="https://d3cr86nr52kve0.cloudfront.net/media/catalog/product/cache/089bd91b8a9d7e487f7cfc7ec1a0e2d3/9/7/9789894019640_1714701692.jpg">
                                    <ul class="product__item__pic__hover">
                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="#">Ficções Jurídicas</a></h6>
                                    <h5>Kz39,900</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="https://d3cr86nr52kve0.cloudfront.net/media/catalog/product/cache/bd307f8d82ae38e9b36ec3a58a2a6ec1/9/7/9789724428079_1714183268.jpg">
                                    <ul class="product__item__pic__hover">
                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="#">O Discurso Filosófico</a></h6>
                                    <h5>Kz25,900</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="https://d3cr86nr52kve0.cloudfront.net/media/catalog/product/cache/bd307f8d82ae38e9b36ec3a58a2a6ec1/9/7/9789897872532_1717466665.jpg">
                                    <ul class="product__item__pic__hover">
                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="#">Vamos Falar Sobre Aquilo</a></h6>
                                    <h5>Kz18,850</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="https://d3cr86nr52kve0.cloudfront.net/media/catalog/product/cache/bd307f8d82ae38e9b36ec3a58a2a6ec1/9/7/9789722374033_1717552914.jpg">
                                    <ul class="product__item__pic__hover">
                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="#">Solo Leveling - Vol. 8</a></h6>
                                    <h5>Kz16,900</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product__pagination">
                        <a href="#">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#"><i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <ul>
                            <li>Endereço: Luanda, Angola</li>
                            <li>Telefone: +244 924081716</li>
                            <li>Email: reepson@livrariareepson.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-8 col-md-12">
                    <div class="row">
                        <div class="col-md-4 mb-5">
                            <h5 class="font-weight-bold text-dark mb-4">LINKS ÚTEIS</h5>
                            <div class="d-flex flex-column justify-content-start">
                                <a class="text-dark mb-2" href="index.html"><i class="fa mr-2"></i>Apoio ao Cliente</a>
                                <a class="text-dark mb-2" href="shop.html"><i class="fa mr-2"></i>Termos de utilização</a>
                                <a class="text-dark mb-2" href="detail.html"><i class="fa mr-2"></i>Política de privacidade</a>
                                <a class="text-dark mb-2" href="cart.html"><i class="fa mr-2"></i>Livro de Reclamações</a>
                                <a class="text-dark mb-2" href="cart.html"><i class="fa mr-2"></i>Livro de Elógios</a>
                            </div>
                        </div>
                        <div class="col-md-4 mb-5">
                            <h5 class="font-weight-bold text-dark mb-4">REEPSON.NET</h5>
                            <div class="d-flex flex-column justify-content-start">
                                <a class="text-dark mb-2" href="index.html"><i class="fa mr-2"></i>Quem Somos</a>
                                <a class="text-dark mb-2" href="shop.html"><i class="fa mr-2"></i>As nossas livrarias</a>
                                <a class="text-dark mb-2" href="detail.html"><i class="fa mr-2"></i>Cartão Reepson</a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <div class="footer__widget">
                                <h6>NEWSLETTER</h6>
                                <p>Deseja receber e-mail da Reepson?</p>
                                <form action="#">
                                    <input type="text" placeholder=" Insira o seu email ">
                                    <button type="submit" class="site-btn">Subscrever</button>
                                </form>
                                <div class="footer__widget__social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="support/js/jquery-3.3.1.min.js"></script>
    <script src="support/js/bootstrap.min.js"></script>
    <script src="support/js/jquery.nice-select.min.js"></script>
    <script src="support/js/jquery-ui.min.js"></script>
    <script src="support/js/jquery.slicknav.js"></script>
    <script src="support/js/mixitup.min.js"></script>
    <script src="support/js/owl.carousel.min.js"></script>
    <script src="support/js/main.js"></script>



</body>

</html>